<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<footer class="bg-light" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="mb-0">Ubicación de la Iglesia</h6>
                    <small class="text-muted">Gabriela Mistral 3437, Villa Devoto, CABA</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="mb-0">Teléfono de contacto</h6>
                    <small class="text-muted">+55 2882 2928</small>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-5">
                    <h6 class="mb-0">Email de contacto</h6>
                    <small class="text-muted">gabrielamistral@gmail.com</small>
                </div>
            </div>
        </div>
        <div class="row border-top py-4">
            <div class="col-lg-6">
                <small><span class="font-weight-bold">© 2020 GmIce.</span> Creado por GmIce Devs. All Rights Reserved</small>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
