<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="header-slide">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="video-container">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/OY4NyPUU2yY" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
</body>
</html>

