<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<nav class="navbar navbar-expand-lg bg-grey" th:fragment="navbar">
    <div class="container">
        <a class="navbar-brand font-weight-bold text-dark" href="home">Iglesia Cristiana Evangélica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="icon ion-md-menu lead"></i>
        </button>

        <div>
            <div>Gabriela Mistral 3437, CABA</div>
        </div>
        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link text-dark" href="#">Inicio</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link text-dark" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Contáctanos</a>
                </li>
            </ul>
        </div>-->
    </div>
</nav>

</body>
</html>
