<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GMDevs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

    <!-- Ionic Icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Gabriela Mistral | ICE</title>
</head>

<body>

<section class="py-6 bg-light" th:fragment="quienes-somos">
    <div class="container">
        <h2 class="mb-0" id="quienessomos">Quienes Somos</h2>
        <p class="lead text-muted mb-3">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
        <div class="row">
            <div class="col-lg-6">
                <div class="my-3">
                    <div class="position-absolute member-info text-light">
                        <h6 class="mb-0">Lorem Ipsum</h6>
                        <small>When an unknown printer</small>
                    </div>
                    <img src="/img/pastor_01.png" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="align-self-center">
                    <h2 class="mb-4">Lorem Ipsum is simply dummy</h2>
                    <p class="text-muted mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <a href="#nuestrasreuniones" class="btn btn-dark">Nuestras Reuniones<i class="icon ion-md-arrow-forward align-middle ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
