<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GMDevs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

    <!-- Ionic Icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Gabriela Mistral | ICE</title>
</head>

<body>

<section class="py-6 bg-light" th:fragment="redes-sociales">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.instagram.com" target="_blank" class="text-dark"><i class="icon ion-logo-instagram mr-3 align-middle lead"></i> Instagram</a></small>
        </div>
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.facebook.com" target="_blank" class="text-dark"><i class="icon ion-logo-facebook mr-3 align-middle lead"></i> Facebook</a></small>
        </div>
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.youtube.com" target="_blank" class="text-dark"><i class="icon ion-logo-youtube mr-3 align-middle lead"></i> Youtube</a></small>
        </div>
    </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
