<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="GMDevs">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

    <title>Gabriela Mistral | ICE</title>
</head>

<body id="body" class="position-relative">

<div th:replace="/include/navbar :: navbar"></div>

<div th:replace="/include/header :: header"></div>

<div th:replace="/include/header-slide :: header-slide"></div>

<div th:replace="/sections/quienes-somos :: quienes-somos"></div>

<div th:replace="/sections/reuniones :: reuniones"></div>

<div th:replace="/sections/noticias :: noticias"></div>

<div th:replace="/sections/redes-sociales :: redes-sociales"></div>

<div th:replace="/sections/datos-contacto :: datos-contacto"></div>

<div th:replace="/include/footer :: footer"></div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>

