<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">

  <!-- Custom Styles -->
  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;700&display=swap" rel="stylesheet">

  <!-- Ionic Icons -->
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <title>Reserva tu lugar | GM ICE</title>
</head>

<body id="body" class="position-relative">

    <div class="container mt-3">
        <h1>Reserva tu lugar</h1>
    </div>

    <form class="container mt-3">
        <div class="">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese aqui su nombre">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Apellido</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese aqui su apellido">
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mail@mail.com">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Seleccione la Reunión</label>
            <select class="form-control" aria-label="Default select example">
                <option value="1">Nuevo Joven</option>
                <option value="2">Enap</option>
                <option value="3">Principal</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Reservar</button>
        </form>


  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>