<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<section class="py-6 bg-light" th:fragment="redes-sociales">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.instagram.com" target="_blank" class="text-dark"><i class="icon ion-logo-instagram mr-3 align-middle lead"></i> Instagram</a></small>
        </div>
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.facebook.com" target="_blank" class="text-dark"><i class="icon ion-logo-facebook mr-3 align-middle lead"></i> Facebook</a></small>
        </div>
        <div class="col-lg-4 col-md-12 text-center py-4 border-right border-bottom">
            <small><a href="https://www.youtube.com" target="_blank" class="text-dark"><i class="icon ion-logo-youtube mr-3 align-middle lead"></i> Youtube</a></small>
        </div>
    </div>
</section>

</body>
</html>
