<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body id="body" class="position-relative">

<div class="row">
    <div class="d-flex p-4 ml-3">
        <a th:href="home">
            <button type="button" class="btn btn-secondary rounded-circle">
                <span class="btn-label"><i class="fa fa-chevron-left"></i></span></button>
        </a>
    </div>
</div>

    <div class="container mt-3">
        <h1>Reserva tu lugar</h1>
    </div>

    <form class="container mt-3">
        <div class="">
            <div class="mb-3">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="email" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Ingrese aqui su nombre">
            </div>
            <div class="mb-3">
                <label for="inputSurname" class="form-label">Apellido</label>
                <input type="email" class="form-control" id="inputSurname" aria-describedby="emailHelp" placeholder="Ingrese aqui su apellido">
            </div>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="mail@mail.com">
        </div>
        <div class="mb-3">
            <label for="selectReunion" class="form-label">Seleccione la Reunión</label>
            <select class="form-control" aria-label="Default select example" id="selectReunion">
                <option value="1">Nuevo Joven</option>
                <option value="2">Enap</option>
                <option value="3">Principal</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success mb-3">Reservar</button>
        </form>

</body>

</html>